:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  --bg-custom: radial-gradient(
      1200px 600px at 10% 10%,
      rgba(107, 220, 255, 0.175),
      transparent 8%
    ),
    radial-gradient(
      800px 400px at 90% 85%,
      rgba(155, 107, 255, 0.1590909090909091),
      transparent 8%
    ),
    #05040a;
    background: var(--bg-custom);

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
