.container {
  opacity: 0;
}

.liquidhr {
  position: relative;
  height: 1px;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #006a81, #19003a, #006a81);
  background-size: 200% 100%;
  animation: liquidFlow 4s linear infinite;
  border-radius: 50px;
  box-shadow: 0 0 12px rgba(0, 200, 255, 0.6), 0 0 24px rgba(140, 0, 255, 0.4);

  width: 90%;
  margin: auto;
}

@keyframes liquidFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
